@font-face {
  font-family: "Exo";
  src: url(/public/Exo2.0-SemiBold.otf);
}

* {
  margin: 0;
  font-family: "Exo", sans-serif;
}

body {
  width: 100vw;
  background-image: url(/public/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}
